
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Josefin+Sans&family=Montserrat&family=Roboto:ital,wght@0,400;0,700;1,100&family=Ubuntu:wght@300&display=swap');


.container-fluid{
    padding:100px 100px 100px 100px;
    background-color:rgb(138, 236, 138);
    font-family:Josefin Sans;
    color:red;
    text-align:center;
    font-size:50px;
    text-shadow:5px 0px 8px rgb(252, 252, 252);
}
.dice{
    margin-top:100px;
    font-size:30px;
    color:black;
    text-align:center;
}
.img{
  size:20px;
}